<div class="container">
  <h2>Edit My Profile:</h2>

  <div class="card activity col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
    <div class="person">
      <% if @user.errors %>
        <ul>
          <% @user.errors.full_messages.each do |error| %>
            <li><%=error%></li>
          <% end %>
        </ul>
      <% end %>

      <p>
        <div class="activity-image container" style="background: url(<%= @user.image_url %>) 50% 50% no-repeat;background-size: cover;">
        </div>
      </p>

      <%= form_for(@user, html:{id: 'userForm'}) do |f| %>
        <p>
          <%= f.label :image_url %>:
          <%= f.url_field :image_url %><br />
        </p>

        <p>
          <%= f.label :name%>
          <%= f.text_field :name %><br />
        </p>

        <p>
          <%= f.label :email %>:
          <%= f.email_field :email %><br />
        </p>
        <p>
          <%= f.label :bio %>:
          <p>
            <%= f.text_area :bio, placeholder: "Tell us about yourself!" %><br />
          </p>
        </p>

        <p class="tag-checkboxes">
           <%= f.label :tag_ids, "What kinds of activities are you interested in?" %>
           <%= f.collection_check_boxes(:tag_ids, (Tag.all.sort_by{|tag| tag.name}), :id, :name) do |b|%>
             <div class="row">
               <%= b.label(class: "check_box") do %>
                   <%= b.check_box(class: "check_box") %>
                   <%= b.object.name %>
               <% end %>
             </div>

           <% end %>
         </p>

        <p>
          <%= f.submit %>
        </p>

      <% end %>
      <%= link_to "Delete your account", user_path(@user), method: :delete, data: {confirm: "Are you sure you want to delete your account? This action cannot be undone!"} %>
    </div>
  </div>
</div>
