<div>
  <%= image_tag(@user.image_url) %>
</div>

<%= form_for @user do |f| %>
  <div>
    <%= f.label :image_url %>:
    <%= f.url_field :image_url %><br />
  </div>

  <div>
    <%= f.label :name%>
    <%= f.text_field :name %><br />
  </div>

  <div>
    <%= f.label :email %>:
    <%= f.email_field :email %><br />
  </div>


  <div>
    <%= f.label :bio %>:
    <div>
      <%= f.text_area :bio %><br />
    </div>
  </div>

  <%= f.submit %>


<% end %>
<%= link_to "Delete your account", user_path(@user), method: :delete %>
