<% if @user.errors %>
  <ul>
    <% @user.errors.full_messages.each do |error| %>
      <li><%=error%></li>
    <% end %>
  </ul>
<% end %>

<h1> <%=@user.name%> </h1>

  <div>
    <% if @user.profilepic %>
      <%= image_tag(@user.profilepic, size: "200x200") %>
    <% else %>
      <%= image_tag(@user.image_url, size: "200x200") %>
    <% end %>
  </div>

<%= form_for(@user, html:{id: 'userForm'}) do |f| %>

  <p>
    <%= f.label :profilepic %>:
    <%= f.file_field :profilepic %>
    <br />
  </p>

  <p>
    <%= f.label :name%>
    <%= f.text_field :name %><br />
  </p>

  <p>
    <%= f.label :email %>:
    <%= f.email_field :email %><br />
  </p>
  <p>
    <%= f.label :bio %>:
    <p>
      <%= f.text_area :bio %><br />
    </p>
  </p>

  <p class="tag-checkboxes">
     <%= f.label :tag_ids, "What kinds of activities are you interested in?" %>
     <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %><br>
  </p>

  <p>
    <%= f.submit %>
  </p>


<% end %>
<%= link_to "Delete your account", user_path(@user), method: :delete, data: {confirm: "Are you sure you want to delete your account? This action cannot be undone!"} %>
