<% if @user = current_user %>
  <%= link_to "Update user info", edit_user_path %>

<h1> <%=@user.name%> </h1>
<div>
  <%= image_tag(@user.image_url) %>
</div>
<div>
  <% if @user.bio %>
    <%=@user.bio%>
  <% elsif @user = current_user %>
    <%= link_to "Please update your bio", edit_user_path %>
  <% end %>
</div>
