<% if @user == current_user %>
  <%= link_to "Update user info", edit_user_path %>
<% end %>
<h1> <%=@user.name%> </h1>
<div>
  <%= image_tag(@user.image_url) %>
</div>
<div>
  <% if @user.bio %>
    <%=@user.bio%>
  <% elsif @user == current_user %>
    <%= link_to "Please update your bio", edit_user_path %>
  <% end %>
</div>

<div class="tag-list">
 Tags:
    <% @user.tags.each do |tag| %>
      <a href="#"><%= " " + tag.name + " " %></a>
    <% end %>
</div>

<div class="approved-list">
  <h3>Approved events:</h3>
    <% ActivityGuest.approved_activity_guests(current_user, @user).each do |x| %>
      <h4><%=x.name%></h4>
    <% end %>
</div>

<div class="pending-list">
  <h3>Pending events:</h3>
    <% ActivityGuest.interested_activity_guests(current_user, @user).each do |x| %>
      <h4><%=x.name%>:</h4>
      <div><%= render 'activities/approval' %></div>
    <% end %>
</div>
