<div id="chat-<%=chat.id%>" class="chat-zone">
  <div id="messages-<%=chat.id%>" class="chat-box">
    <% chat.messages.each do |message| %>
      <div class="message user-<%= message.sender.id %>">
        <div class="small-text"><strong><%=link_to message.sender.name, user_path(message.sender)%></strong> <%= message.created_at.strftime("%b%e,%l:%M %p") %><br></div>
        <%= message.content %>
      </div>
    <% end %>
  </div>
  <br><br>

  <% if message.errors %>
    <ul>
      <% message.errors.full_messages.each do |error| %>
        <li><%=error%></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_for [chat, message], remote: true do |f| %>
  <p>
    <%= f.label :content, "New message" %><br>
    <%= f.text_area :content, placeholder: "Send a new message!" %>
  </p>
    <%= f.submit "Send" %>
  <% end %>
</div>

<script>
  function readMessage() {
    var chatId = <%= chat.id %>
    $('.chat-zone').on('click', function(){
      $.ajax({
        type: "POST",
        url: "<%= read_path %>",
        data: {chat_id: chatId}
      })
    });
  }
  function submitOnEnter() {
    $('#message_content').keydown(function(e){
      if(e.which == 13){
        var chatId = $(this).parents('.chat-zone')[0].id.split("-")[1]
        var messageContent = $(this).val()
        $.ajax({
          method: "POST",
          url: "<%=messages_path%>",
          data: {chat_id: chatId, message: {content: messageContent}}
        })
      }
    })
  }
  readMessage()
  submitOnEnter()
</script>

<%= subscribe_to chat_path(chat) %>
