<h2 class="chat-name"><%=chat.name%></h2>

<% chat.messages.each do |message| %>
  <div class="message <%= "sender" if message.sender == current_user %>">
    <strong><%=link_to message.sender.name, user_path(message.sender)%>:</strong><br>
    <%= message.content %>
  </div>
<% end %>
<br><br>
<%= form_for [chat, message] do |f| %>
<p>
  <%= f.label :content, "New message" %><br>
  <%= f.text_area :content, placeholder: "Send a new message!" %>
</p>
  <%= f.submit "Send" %>
<% end %>
