<div class="container">

<div class="show-page col-md-6 otter">
  <h2>My current chats:</h2>

    <% @chats.each do |chat| %>
      <% if chat.personal %>
        <% receiver = chat.users.find{|user| user != current_user} %>
        <div class="outline"> <strong><%= "UNREAD" if chat.chat_users.where(user: current_user)[0].unread? %></strong> <%= link_to "#{receiver.name} (Private Message)", chat_path(chat), remote: true%> </div>
      <% else %>
        <div class="outline"> <strong><%= "UNREAD" if chat.chat_users.where(user: current_user)[0].unread? %></strong> <%= link_to chat.name, chat_path(chat), remote: true %> with <% chat.users.reject do |user| user == current_user end.each do |user| %>
            /<%= (link_to user.name, user_path(user)) %>/
          <% end %>
          <br><strong><%= link_to "Activity Page", activity_path(chat.activity)%></strong>
        </div>
      <% end %>
    <% end %>
</div>
<div class="col-md-4 chatz show-page">

</div>
</div>
