<%= binding.pry %>
<div class="activity card clearfix" id="<%= activity.id %>" style="border-style:solid;border-color:grey;">
  <%= render 'voting' if activity.host != current_user %>

  <div class="container center-container" style="align:center;">
    <%= image_tag(activity.image_url) %>
  </div>
  <div>
    <%= activity.name %>
  </div>
  <% if logged_in? && current_user.id == activity.host_id %>

  <% if activity.open? %>
    <%= render partial: 'interested_guests', locals: {activity: activity} %>
   <% end %>

   <%= render partial: 'approved_guests', locals: {activity: activity} %>

    <div class="">
      <%= link_to "edit this", edit_activity_path(activity)  %>
    </div>
    <% if activity.open? %>
      <div class="">
        <%= link_to "close this", close_path(activity), method: :post %>
      </div>
    <% elsif activity.closed? %>
       <div class="">
         <%= link_to "open this", open_path(activity), method: :post %>
       </div>
    <% end %>
    <div class="">
      <%= link_to "delete this", activity_path(activity), method: :delete, data: {confirm: "Are you sure you want to delete this activity? This action cannot be undone!"} %>
    </div>

  <% end %>


  <div>
      Tags:
    <% activity.tags.each do |tag| %>
      <a href="#"><%= " " + tag.name + " " %></a>
    <% end %>
  </div>
  <div class="user clearfix" style="border-style:solid;border-color:grey;">
    <%= image_tag(activity.host.image_url, class: "col-md-3 col-xs-3") %>
    <%= "Host: " + activity.host.name %>
  </div>
</div>
