
<div class="col-md-4 col-xs-12">
  <div class="">
    <%= image_tag(activity.image_url, class: "img-responsive") %>
  </div>
  <div class="">
    <%= activity.name %>
  </div>
  <%= link_to "delete this", activity_path(activity), method: :delete if (logged_in? && current_user.id == activity.host_id) %>
  <ul>
    <% activity.tags.each do |tag| %>
      <li><%= tag.name %> </li>
    <% end %>
  </ul>
  <%= image_tag(activity.host.image_url, class: "col-md-3 col-xs-3") %>
</div>
