
<div class="col-md-4 col-xs-12" id="<%= activity.id %>" style="border-style:solid;border-color:grey;">
  <%= render 'voting' if activity.host != current_user %>

  <div class="">
    <%= image_tag(activity.image_url, class: "img-responsive") %>
  </div>
  <div class="">
    <%= activity.name %>
  </div>
  <% if logged_in? && current_user.id == activity.host_id %>

   <%= render partial: 'interested_guests', locals: {activity: activity} %>
   <%= render partial: 'approved_guests', locals: {activity: activity} %>

    <div class="">
      <%= link_to "edit this", edit_activity_path(activity)  %>
    </div>
    <div class="">
      <%= link_to "delete this", activity_path(activity), method: :delete %>
    </div>

  <% end %>


  <div>
      Tags:
    <% activity.tags.each do |tag| %>
      <a href="#"><%= " " + tag.name + " " %></a>
    <% end %>
  </div>
  <div class="user" style="border-style:solid;border-color:grey;">
    <%= image_tag(activity.host.image_url, class: "col-md-3 col-xs-3") %>
    <%= "Host: " + activity.host.name %>
  </div>
</div>
