

<div class="<%= "open-green" if activity.open? %><%= "closed-red" if activity.closed? %>" >
  Activity is currently <strong><%= "open" if activity.open? %><%= "closed" if activity.closed? %></strong>.
</div>
<hr>
<div>
  Cost: $<%= activity.cost %>0
</div>
<div class="">
  Guest Min: <%= activity.guest_min %>
</div>
<div class="">
  Guest Max: <%= activity.guest_max %>
</div>

<div class="">
  Details: <%= activity.details %>
</div>
