

<div>
  Activity is currently <%= "open" if activity.open? %><%= "closed" if activity.closed? %>.
</div>
<div>
  Cost: <%= activity.cost %>
</div>
<div class="">
  Guest Min: <%= activity.guest_min %>
</div>
<div class="">
  Guest Max: <%= activity.guest_max %>
</div>

<div class="">
  Details: <%= activity.details %>
</div>
