<div class="accepted-guests" id="<%=activity.id%>">
  Accepted Guests:
  <ul>
    <% activity.activity_guests.where(aasm_state: "approved").each do |ag| %>
    <li><%=link_to user_path(ag.guest), id: "#{ag.guest.id}", class: "accepted-guest" do %>
      <div class="">
        <%= image_tag(ag.guest.image_url, class: "col-md-3 col-xs-3") %>
        <%= ag.guest.name %>
      </div>
      <% end %>
        <%= link_to "- remove this guest", remove_path(activity_guest_id: ag.id), method: :post, remote: true %></li>
    <% end %>
  </ul>
</div>
