

<li class="card <%="col-md-4 col-lg-4 col-xl-4 col-xs-12 activity"%>" id="<%= activity.id %>">
  <div class="activity-image container" style="background: url(<%= activity.image_url %>) 50% 50% no-repeat;background-size: cover;">
  </div>
  <div>
    <%= link_to activity.name, activity_path(activity), class: "name-click" %> -
    <%= link_to "remove me", remove_path(activity_guest_id: ActivityGuest.where(guest: current_user, activity: activity)[0].id), method: :post, remote: true %>
  </div>
  <div class="tags">
    <% activity.tags.sort_by do |tag| tag.name end.each do |tag| %>
      <%= "/ " + tag.name + " /" %>
    <% end %>
  </div>
  <div class="user clearfix outline">
    <%= image_tag(activity.host.image_url, class: "col-md-3 col-xs-3") %>
    <%= "Hosted by: " + activity.host.name %>
  </div>
</li>
