<div class="col-md-4 show-page">

<%= render @activity %>
</div>

<div class="col-md-4 additional-info otter show-page">
  <div>
    Activity is currently <%= "open" if @activity.open? %><%= "closed" if @activity.closed? %>.
  </div>
  <div>
    Cost: <%= @activity.cost %>
  </div>
  <div class="">
    Guest Min: <%= @activity.guest_min %>
  </div>
  <div class="">
    Guest Max: <%= @activity.guest_max %>
  </div>

  <div class="">
    Details: <%= @activity.details %>
  </div>

</div>

<div class="col-md-4 chatz show-page">
  <%= render partial: "chats/chat", locals: {chat: @chat, message: @message} %>
</div>
