<div class="container ferret">
  <div class="show-page-card">
    <%= render partial: "activities/show_page_card", locals: {activity: @activity} %>
  </div>

  <% if (@activity.host == current_user) || (@activity.approved_guests.include? current_user) %>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 chatz show-page card show-chat">
      <%= render partial: "chats/chat", locals: {chat: @chat, message: @message} %>
    </div>

    <script>
      var chatScrollListener = function(){
        chat = $('.chatz');
        chat[0].scrollTop = chat[0].scrollHeight;
      };
      chatScrollListener();
    </script>
  <% end %>

  <% if user_signed_in? && current_user.id == @activity.host_id %>
    <div class="activity card col-md-3 col-lg-4 col-xs-12 col-sm-12">
      <div class="">
        <%= link_to "edit this", edit_activity_path(@activity), "data-toggle": "modal", "data-target": "#editActivityModal", remote: true    %>
      </div>
      <% if @activity.open? %>
        <div class="">
          <%= link_to "close this", close_path(@activity), method: :post, remote: true %>
        </div>
      <% elsif @activity.closed? %>
        <div class="">
          <%= link_to "open this", open_path(@activity), method: :post, remote: true  %>
        </div>
      <% end %>
      <div class="">
        <%= link_to "delete this", activity_path(@activity), method: :delete, data: {confirm: "Are you sure you want to delete this activity? This action cannot be undone!"} %>
      </div>
  </div>
  <% end %>
</div>

<div class="my-modal modal fade" id="editActivityModal" tabindex="-1" role="dialog" aria-labelledby="showActivityLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>
