<!DOCTYPE html>
<html>
<head>
  <title>BookItList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <script type="text/javascript">
            window.fbAsyncInit = function() {
              FB.init({
                appId  : <%=ENV['FACEBOOK_KEY']%>,
                status : true, // check login status
                cookie : true, // enable cookies to allow the server to access the session
                xfbml  : true  // parse XFBML
              });
            };

            (function(d) {
              var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
              js = d.createElement('script'); js.id = id; js.async = true;
              js.src = "//connect.facebook.net/en_US/all.js";
              d.getElementsByTagName('head')[0].appendChild(js);
            }(document));
            $(function() {
              $('#sign_in').click(function(e) {
                e.preventDefault();
                FB.login(function(response) {
                  if (response.authResponse) {

                    $('#connect').html('Connected! Hitting OmniAuth callback (GET /auth/facebook/callback)...');
                    // since we have cookies enabled, this request will allow omniauth to parse
                    // out the auth code from the signed request in the fbsr_XXX cookie
                    $.getJSON('/auth/facebook/callback', function(json) {
                      $('#connect').html('Connected! Callback complete.');
                      $('#results').html(JSON.stringify(json));
                    });
                  }
                }, { scope: 'public_profile,email', state: 'abc123' });
              });
            });
          </script>

    <%= render "layouts/header" %>
    <div class="container">

        <%= yield %>

    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
